body
{
  color: rgb(20, 20, 20);
  background: rgb(194, 255, 192);
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px dashed rgb(235, 79, 79);
  width: 350px;
  height: 300px; 
}
.name_of_objects, #result_object_name  , #result_object_accuracy
{
  color: rgb(23, 42, 214);
}
